@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  font-size: 14px; 
}

body {
  /* Aqui você garante o fundo CLARO que você escolheu */
  @apply bg-slate-50 text-slate-900;
}

/* Tabelas mais elegantes */
td, th {
  @apply py-3 px-4 !important;
}

/* Força a fonte Inter em todos os elementos */
body, input, textarea, select, button {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}